#contactSection{
  background-color: #3A1B57
}

#contactSection #contactForm{
  margin: 50px 0px
}

#contactSection #contactForm textarea{
  min-height: 250px;
  max-height: 500px
}



#productSection {
  background-color: #F0F0F0;
  text-align: center
}

#productSection h2{
  color: #F22962;
  font-weight: bold
}

#productSection p{
  margin-bottom: 20px;
  color: grey;
  font-size: 15px;
  font-weight: 500
}
